<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <img src="../../../assets/payroll-icon.jpg" width="40px" style="border-radius: 20%; margin-right : 20px">
      <a class="navbar-brand" routerLink="../../home">SimpleHRPayroll</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink={{routerPath}} >{{title}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>